* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    background-color: #023047;
    color: #050505;
    font-size: 100%;
}

h1 {
    font-size: calc(1.5rem + 2vw);
    color: white;
}

.main-title {
    text-align: center;
    margin: 24px 0;
}

.posts-list {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.posts-list > * {
    margin-bottom: 24px;
}

.post { 
    padding: 16px;
    background-color: white;
}

.post__header {
    margin-bottom: 16px;
}

.post-meta {
    display: flex;
}

.post-meta__icon {
    margin-right: 24px;
}

.post-meta__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-meta__author {
    font-weight: bold;
}

.post-meta__time {
    font-size: 0.8rem;
}

.profile-pic {
    border-radius: 50%;
    max-width: 60px;
}

.profile-pic-default {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0CD977;
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic-default span {
    font-weight: bold;
    color: #023047;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.post__text {
    margin-bottom: 16px;
}

.post__image {
    margin-bottom: 16px;
}

.post__image img {
    width: 100%;
}

.likes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.like-button {
    display: inline-block;
    padding: 16px;
    border-radius: 8px;    
    text-decoration: none;
    color: #404040;
}

.like-button:not(.like-button--liked, .like-button-infinite):hover {
    background-color: #e3e3e3
}

.like-button__label {
    font-weight: bold;
}

.like-button--liked {
    color: #0CD977;
    cursor: default;
}



.like-button-infinite {
    color: #ff4000;
    cursor: default;
}
#like-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 5px;
    right: 5px;
}
#like-control p {
    color: white;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.toggle-control {
    display: block;
    position: relative;
    padding-left: 100px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}
.toggle-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-control input:checked ~ .control {
    background-color: #4caf50;
}
.toggle-control input:checked ~ .control:after {
    left: 55px;
}

.toggle-control .control {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: #af4c4c;
    transition: background-color 0.15s ease-in;
}
.toggle-control .control:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background: white;
    transition: left 0.15s ease-in;
}